 .bg {
     min-height: 100vh;
     padding-top: 30px;
     color: white;
 }
 
 .centering {
     width: 75vw;
     margin: 0 auto;
 }
 
 .gameInfo,
 .gameLeft,
 .gameRight,
 .gameDetailes,
 .gameTags {
     display: flex;
 }
 
 .gameDetailes,
 .gameTags {
     justify-content: space-around;
 }
 
 .gameDetailes .span,
 .gameTags .span {
     height: 2em;
     background-color: #53508E;
     box-shadow: 1px 1px 3px #8b8a97;
     padding: 2px;
     margin: 25px 0;
 }
 
 .gameLeft,
 .gameRight {
     flex-direction: column;
     justify-content: space-between;
     padding: 20px;
 }
 
 .gameLeft {
     min-width: 40%;
 }
 
 .gameLink a {
     box-shadow: 1px 1px 3px #8b8a97;
     text-decoration: none;
 }
 
 .gamePhoto img {
     width: 100%;
     max-height: 40vh;
 }
 
 .gameDetails {
     padding: 40px;
 }
 /* .span {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.span[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
    background-color: blue;
} */