.wrapper {
    /*background: linear-gradient(130deg, #ff7a18,#af002d,#319197);*/
    /*background-image: linear-gradient(to bottom right, rgb(21, 25, 71), rgb(27, 23, 69), rgb(32, 21, 67), rgb(38, 20, 66), rgb(43, 18, 64), rgb(49, 16, 62), rgb(54, 14, 60), rgb(60, 12, 58), rgb(65, 10, 56), rgb(71, 9, 55), rgb(76, 7, 53), rgb(82, 5, 51));*/
    height: 100vh;
}
.text-error {
    color: #f4f9f9;
    text-align: center;
    font-size: 1.2rem;
}
